.dark-mode{
    background-color: darken($grisOscuro, 10);

    p {
        color: $blanco;
    }

    a ,h1, h2, h3, h4 {
        color: $gris;
    }

    .advert,
    .resume{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .price{
            color: $verde;
        }

        .icon{
            filter: invert(100%);
        }
    }

    .text-about{
        color: $blanco;
    }

    .formulario {
        label,
        legend,
        p {
            color: $gris;
        }

    input:not([type="submit"]),
    textarea,
    select {
        background-color: $grisOscuro;
        color: $blanco;
        border: 1px solid $grisOscuro;
    }
    }
}